html {
        min-height: 100%;
        position: relative;
}

body {
        background-color: rgb(254, 237, 182);
        margin: 0;
        padding: 0;
}

.banner {
        height: 270px;        
        background-image: url(../imagenes/juanaBanana.jpeg);
        background-size: cover;
        background-position: center;        
}

ul {
        display: flex;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
        padding: 0;
        list-style-type: none;
        list-style: none;
        align-items: center;
        justify-content: center;
        height: 100%;
        
}

li {
        width: 20%;
        text-align: center;
        border-right: 1px solid white;
        order: 0;
}

li:hover {
        width: 20%;
        text-align: center;
        border-right: 1px solid white;
        background-color: rgb(254, 237, 182);
}

.parrafo {
        
        font-size: 30px;
        color: black;
        text-align: center;
        font-family: 'Righteous';
        
}

#gridImagenes {
        display: grid;
        grid-template-columns: 250px 250px 250px 250px;
        grid-template-rows: 250px 250px;
        row-gap: 60px;
        column-gap: 50px;
        grid-template-areas: "imagen1 imagen2 imagen3 imagen4" "imagen5 imagen6 imagen7 imagen8";
        justify-content: center;
        padding-bottom: 300px;
}

.imagenUno {
        width: 100%;
        height: 100%;
        border: solid 2px;
        grid-area: imagen1;
}

.imagenDos {
        width: 100%;
        height: 100%;
        border: solid 2px;
        grid-area: imagen2;
}
.imagenUno:hover{
        transform: scale(2);
        margin-left: 100px;
        
        
}


.imagenTres {
        width: 100%;
        height: 100%;
        border: solid 2px;
        grid-area: imagen3;
}

.imagenCuatro {
        width: 100%;
        height: 100%;
        border: solid 2px;
        grid-area: imagen4;
}

.imagenCinco {
        width: 100%;
        height: 100%;
        border: solid 2px;
        grid-area: imagen5;
}

.imagenSeis {
        width: 100%;
        height: 100%;
        border: solid 2px;
        grid-area: imagen6;
}

.imagenSiete {
        width: 100%;
        height: 100%;
        border: solid 2px;
        grid-area: imagen7;
}

.imagenOcho {
        width: 100%;
        height: 100%;
        border: solid 2px;
        grid-area: imagen8;
}

a {
        text-decoration: none;
        color: white;
}

a:visited {
        text-decoration: none;
        color: white
}

footer {
        background-image:linear-gradient(to left,black, gray);
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100px;
        color: white;
        
        
}

  

.menu {
        background-image:linear-gradient(to right, black, gray);
        height: 50px;
        
}

@media only screen and (max-width: 600px) {
        #gridImagenes {
                grid-template-columns: 100%;
                grid-template-rows: 300px 300px 300px 300px 300px 300px 300px 300px;
                grid-template-areas:    "foto1"
                                        "foto2"
                                        "foto3"
                                        "foto4"
                                        "foto5" 
                                        "foto6" 
                                        "foto7"
                                        "foto8";                                      
                column-gap: 10px;
                justify-content: center;


        }


}

